/* Font Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* General */
body{
    font-family: 'Raleway';
    margin:40px 4% 0px 4%;
    zoom:125%;
}

.flex{
    display: flex;
}

/* Header */

.logo{
    width: 100px;
}

header{
    justify-content:space-between;
}

nav a{
    padding: 0px 0px 0px 40px;
    color:#0065FC;
    font-size: 13px;
    text-decoration: none;
}

	ul{
    	list-style-type: none;
    	padding: 0px;
    	margin: 0px;
	}

		.a2{
    	color:grey;
		}

    .a3{
		font-weight: 700;
	}

/* Search section */

.search{
    flex-direction: column;
}

.search h1{
    font-weight: 800;
    font-size: 1.2em;
    margin: 30px 0px -5px 0px;
}

.search p {
    font-size: 0.9em;
}

    /* Search Bar */

    .search_bar{
        height: 40px;
        margin-bottom:10px;
    }

        .marp-marker_icon{
            padding: 12px 10px 10px 15px ;
            background-color: #F2F2F2;
            border-radius: 1em 0em 0em 1em;
            font-size: 13px;
        }

        .search_input{
            border:1px solid #F2F2F2;
            padding: 0px 15px 0px 15px;
            font-weight: 500;
        }

        .search_input::placeholder {
            color: black;
          }

        .search_button{
            padding: 12px 13px 10px 15px ;
            background-color: #0065FC;
            border-radius: 0em 1em 1em 0em;
            font-size: 13px;
            color:white;
            font-weight: 500;
        }

        .search_button i{
            display: none;
        }


    /* Filters */
    .filters{
        font-weight: 600;
        font-size: 13px;
        flex-flow: row wrap;
    }

        .filters_text{
            margin: 20px 35px 0px 0px;
        }

        .filters_option{
            margin: 10px 25px 0px 0px;
            padding: 11px 20px 10px 45px;
            border: 1.5px solid lightgrey;
            border-radius: 2em;
            white-space:nowrap;
            height: fit-content;
        }

        .filters_option:hover{
            border-color:#0065FC;
            background-color: #0065FC;
            color: white;
        }

        .filters_icon{
            width: 12px;
            background-color: #DEEBFF;
            color:#0065FC;
            margin: -12px 20px 0px -50px;
            padding: 13.1px;
            justify-content: center;
            position: absolute;
            border-radius: 2em;
        }
    
.info{
        margin: 15px 0px 15px 0px;

    }

.info_icon{
	border-radius: 50%;
	width: 2px;
	height: 2px;
	padding: 3px 7px 11px 7px;
	margin:14px 6px 0px 0px;
	border: 1px solid lightgrey;
	color:#0065FC; 
	font-size: 0.5em;
}

/* All Housings (Housings + Popular) */

.all_housings{
    justify-content: space-between;
	margin-bottom:45px;
}

    /* Housings */
    .housings{
       width: 70%;
       height: auto;
       background-color: #F2F2F2;
       padding: 10px 25px 10px 25px;
       margin-right: 30px;
       border-radius: 1em;
    }

	.ShowMore{
		font-weight: 700;
		font-size: 0.9em;
		padding: 0px 0px 0px 10px;
        text-decoration: none;
        color: inherit;
	}

        .housings h2{
            font-size: 14px;
        }

        .housings_allcards{
            justify-content: space-between;
            margin: 25px 0px 0px 0px;
            flex-flow: row wrap;
        }

        .housings_allcards a{
            text-decoration: none;
            color: inherit;
        }

            .housings_card{
                width: 30%;
                height: 100%;
                margin-bottom: 25px;
                background-color: white;
                padding: 3px;
                border-radius: 1em;
                box-shadow: 1px 1px 10px lightgrey;

                flex-direction: column;
            }

            .housings_card_img{
                height: 90px;
                width: auto;
            }

            .housings_card img{
                border-radius: 0.8em 0.8em 0 0;
                object-fit: cover;
            }

            .housings_card_description{
                padding:5px 0px 5px 10px;
                flex-direction: column;
                margin: 0px;
            }

                .housings_card_description h3{
                    font-size: 0.65em;
                    margin: 0px;
					font-weight: 600;
                }

                .housings_card_description p{
                    font-size: 0.6em;
                    margin: 3px 0px 0px 0px;
                    font-weight: 100;
                }

                .stars{
                    padding:0px 0px 5px 10px;
                    font-size: 0.5em;
                    margin: 0px;
                    color: #0065FC;
                }

                    .greystar{
                        color: lightgrey;
                    }

    /* Popular */                
    .popular{
        width: 30%;
        height: auto;
        background-color: #F2F2F2;
        padding: 10px 30px 0px 30px;
        border-radius: 1em;
    }

        .popular h2{
            font-size: 14px;
            display: flex;
        }

        .popular_title{
            align-items: baseline;
            justify-content: space-between;
        }
    
    .popular_allcards{
        margin: 15px 0px 0px 0px;
        flex-direction: column;
    }

    .popular_allcards a{
        text-decoration: none;
        color: inherit;
    }

		.popular_card{
			background-color: white;
			padding: 3px;
			border-radius: 1em;
			box-shadow: 1px 1px 10px lightgrey;
			margin-bottom:25px;
            height: 100px;
		}

		.popular_card img{
			border-radius: 0.8em 0em 0em 0.8em;
			width: 40%;
			object-fit: cover;
		}

		.popular_card_description{
			padding: 10px 10px 10px 15px;
			margin: 0px;
			flex-direction: column;
			justify-content: space-between;
		}

			.popular_card_description h3{
				font-size: 0.65em;
				font-weight: 600;
				margin: 0px;
			}

			.popular_card_description p{
				font-size: 0.6em;
				font-weight: 100;
				margin: 5px 0 0 0;
			}

			.stars_popular{
				font-size: 0.5em;
				color: #0065FC;
				letter-spacing: 2px;
			}

/* Activities */
.Activities {
    margin-bottom: 50px;
}

    .Activities h2 {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .activities_cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        height: 20em;
    }

        .activities_card {
            height: 100%;
            width: auto;
            border-radius: 1em;
            box-shadow: 1px 1px 10px lightgrey;
            padding-bottom: 5px;
        }

        .activities_cards h3 {
            font-size: 9px;
            font-weight: 600;
            margin: 5px 0 0 10px;
            padding: 0;
            color: black;
        }

        .activities_card_img_l {
            height: 90%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.8em 0.8em 0 0;
        }

        .activities_card_img_s {
            height: 82%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.8em 0.8em 0 0;
        }

        .activities_card_img_xs {
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.8em 0.8em 0 0;
        }

        .card1 {
            grid-area: 1 / 1 / 11 / 2;
            text-decoration-line: none;
        }

        .card2 {
            grid-area: 1 / 2 / 7 / 3;
            text-decoration-line: none;
        }

        .card3 {
            grid-area: 7 / 2 / 11 / 3;
            text-decoration-line: none;
        }

        .card4 {
            grid-area: 1 / 3 / 11 / 4;
            text-decoration-line: none;
        }

        .card5 {
            grid-area: 1 / 4 / 5 / 5;
            text-decoration-line: none;
        }

        .card6 {
            grid-area: 5 / 4 / 11 / 5;
            text-decoration-line: none;
        }

/* Footer */
footer{
	background-color: #F2F2F2;
	margin:0px -5% 0px -5%;
	padding:20px 50px 20px 50px;
}

footer div{
	flex:1;
}

footer h3{
	font-size: 13px;
	font-weight: 600;
}

footer a{
	font-size:12px;
	color: black;
	text-decoration: none;
	line-height: 25px;
	font-weight: 300;
}

/* Phone Version */
@media (max-width: 700px){

    /* General - Phone Version */
    body{
        margin:40px 0 0 10.4%;
        padding:0;
        max-width: 79%;
        zoom:110%;
        overflow: hidden visible;
    }

    /* Header - Phone Version */
    .logo{
        width: 100px;
        margin-top:-15px;
    }
    
    header{
        flex-direction: column;
    }
    
    nav {
        color:#0065FC;
        font-size: 13px;
        list-style-type: none;
        flex-direction: column;
        margin: 0 -30px;
    }

    nav li{
        width: 100%;
        padding: 30px 0 10px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    nav li:hover{
        border-bottom-color:#0065FC;
    }
    
        .a1{
            padding:0;
            justify-content: center;
        }

        .a2{
            color:grey;
            padding:0;
            justify-content: center;
        }

    .a3{
        font-weight: 700;
        align-self: flex-end;
        position:absolute;
        top:45px;
        padding-right: 25px;
    }

        /* Search bar - Phone Version */
        .search_bar{
            width: 100%;
            margin-top:30px;
        }

        .search_input{
            width: 100%;
        }

            .search_button{
                border-radius: 1em;
                margin-left: -10px;
            }

                .search_button span{
                    display: none;
                }

                .search_button i{
                    display:initial;
                }

        /* Filters - Phone Version */
        .filters{
         flex-direction: column;
        }

        .filters_list{
            flex-wrap: wrap;
            width: 100%;
        }

            .filters_option{
                margin: 10px 15px 0px 0px;
                padding: 11px 15px 10px 40px;
            }

            .filters_icon{
                margin: -12.5px 20px 0px -45px;
            }

    /* All Housings (housings+popular) - Phone Version */
    .all_housings{
        flex-direction: column-reverse;
        width: 100%;
        margin:0 0 0 0;
        padding:0;
    }

        /* Popular - Phone Version */
        .popular{
            border-radius: 0;
            width: 100%;
            position: relative;
            margin:0px 13% 40px -13%;
            padding:20px 13% 40px 13%;
        }

            .popular_title{
                padding: 0;
                font-size: 1em;
                margin-bottom: 2%;
            }

                .popular_title h2{
                    font-size: 1em;
                }

            .popular_allcards{
                margin: 0;
                padding: 0;
            }

            .popular_card{
			    padding: 5px;
                height: 8em;
                margin-bottom: 12px;
		    }

                .popular_card_description h3{
                    font-size: 0.9em;
                }
    
                .popular_card_description p{
                    font-size: 0.7em;
                }
    
                .stars_popular{
                    font-size: 0.6em;
                }

        /* Housings - Phone Version */
        .housings{
            background-color: white;
            width: 100%;
            margin: 0 0 20px 0;
            padding: 0;
        }

        .housings h2{
            margin: 0 0 5% 0;
            font-size: 1em;
        }

        .ShowMore{
            font-size: 0.9em;
            color: rgb(78, 78, 78);
            padding: 0;
            margin-top:20px;
        }

            .housings_allcards{
                justify-content: space-between;
                flex-flow: column wrap;
                margin: 0 0 5px 0;
                padding: 0;
            }

                .housings_card{
                    width: 99%;
                    height: 12em;
                    margin-bottom:15px;
                    padding-bottom:10px;
                }

                .housings_card_img{
                    height: 70%;
                }

                    .housings_card_description h3{
                        font-size: 0.9em;
                    }

                    .housings_card_description p{
                        font-size: 0.8em;
                    }

                    .stars{
                        font-size: 0.6em;
                    }

    /* Activities - Phone Version */
    #activitiesAnchor{
        margin:20px 0 25px -5px;
        font-size: 1em;
    }

    .activities_cards{
        margin:0px -15px 0px -15px;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, 1fr); 
        grid-row-gap: 15px;   
        height: auto; 
    }

    .activities_card{
        height:12em;
        width: auto;
        border-radius: 1em;
        box-shadow: 1px 1px 10px lightgrey;
        margin: 5px 8px 0px 8px;
        }
        
        .activities_cards h3{
            font-weight: 600;
            margin: 10px 0 0 10px;
            padding: 0;
            color: black;
        }
    
        .activities_card_img_l{
            height: 80%;
        }
    
        .activities_card_img_s{
            height: 80%;
        }
    
        .activities_card_img_xs{
            height: 80%;
        }

        .card1 { grid-area: 1 / 1 / 2 / 2; } 
        .card2 { grid-area: 2 / 1 / 3 / 2; } 
        .card3 { grid-area: 3 / 1 / 4 / 2; } 
        .card4 { grid-area: 4 / 1 / 5 / 2; } 
        .card5 { grid-area: 5 / 1 / 6 / 2; } 
        .card6 { grid-area: 6 / 1 / 7 / 2; } 

        .activities_cards h3{
            font-size: 0.75em;
        }

    /* Footer */
    footer{
        flex-direction: column;
        position: relative;
        margin:0px -13% 0px -13%;
        padding:20px 50px 20px 13%;
    }

    footer h3{
        margin:25px 0 5px 0;
    }

}

/* Tablet Version */
@media (min-width: 700px) and (max-width: 1000px){
    
    body{
        margin:40px 0 0px 5.9%;
        zoom:100%;
        width: 88%;
    }

    /* Header - Tablet Version */
    .logo{
        width: 100px;
        margin-top:-15px;
    }
    
    header{
        flex-direction: column;
    }
    
    nav {
        color:#0065FC;
        list-style-type: none;
        flex-direction: column;
    }

    nav li{
        width: 100%;
        padding: 30px 0 10px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    nav li:hover{
        border-bottom-color:#0065FC;
    }
    
        .a1{
            padding:0;
            justify-content: center;
            font-size: 15px;
        }

        .a2{
            color:grey;
            padding:0;
            justify-content: center;
            font-size: 15px;
        }

    .a3{
        font-weight: 700;
        align-self: flex-end;
        position:absolute;
        top:45px;
        font-size: 15px;
    }

    /* Search bar - Tablet Version */
    .search_bar{
        width: 100%;
        margin-top:30px;
    }

    .search_input{
        width: 100%;
    }

    /* Filters - Tablet Version */
    .filters{
        flex-direction: column;
    }

    .filters_list{
        flex-wrap: wrap;
        width: 100%;
    }

    /* All Housings (housings+popular) - Tablet Version */
    .all_housings{
        flex-direction: column-reverse;
        margin-bottom: 4%;
    }

    /* Popular - Tablet Version */
    .popular{
        border-radius: 1em;
        width: 100%;
        margin: 0 0 10px 0;
        padding: 10px 0px 20px 0px;
    }

    .popular_title{
        padding: 0 25px 0 25px;
        font-size:1em;
    }

        .popular_title h2{
            font-size: 1em;
        }

    .popular_allcards{
        margin-top:0px;
    }

        .popular_card{
            padding: 5px;
            margin: 10px 25px 10px 25px;
        }

        .popular_card_description h3{
            font-size: 0.9em;
        }

        .popular_card_description p{
            font-size: 0.7em;
        }

        .stars_popular{
            font-size: 0.6em;
        }

    /* Housings - Tablet Version */
    .housings{
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .housings h2{
        font-size: 1em;
    }

    .housings_allcards{
        margin-top:30px
    }

        .housings_card_description h3{
            font-size: 0.75em;
        }

        .housings_card_description p{
            font-size: 0.7em;
        }

    .ShowMore{
        font-size: 0.8em;
    }
    
    /* Activities - Tablet Version */
    .Activities{
        margin-bottom: 50px;
    }
    
    #activitiesAnchor{
        margin:0 0 5% 0;
        font-size: 1em;
    }

    .activities_cards{
        width: 100%;
        margin:0;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 10px;
        grid-row-gap: 10px; 
        height: auto;
    }

    .activities_card{
        height:10em;
        width: auto;
        border-radius: 1em;
        box-shadow: 1px 1px 10px lightgrey;
        margin-bottom:15px;
        font-size: 14px;
        border: 5px solid white;
        }
        
        .activities_cards h3{
            font-weight: 600;
            margin: 5px 0 0 10px;
            padding: 0;
            color: black;
            font-size: 0.8em;
        }
    
        .activities_card_img_l{
            height: 80%;
        }
    
        .activities_card_img_s{
            height: 80%;
        }
    
        .activities_card_img_xs{
            height: 80%;
        }

        .card1 { grid-area: 1 / 1 / 2 / 2; } 
        .card2 { grid-area: 1 / 2 / 2 / 3; } 
        .card3 { grid-area: 1 / 3 / 2 / 4; } 
        .card4 { grid-area: 2 / 1 / 3 / 2; } 
        .card5 { grid-area: 2 / 2 / 3 / 3; } 
        .card6 { grid-area: 2 / 3 / 3 / 4; } 
    
    /* Footer */
    footer{
        justify-content: space-between;
        text-align: center;
        margin-right:-7%;
        margin-left:-7%;
    }
    
}